@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

::selection {
	color: black;
	background-color: #cdd6f4;
}

a:hover {
	cursor: pointer;
}

p {
	margin: 0;
}

body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Manrope', sans-serif;
}

main {
	height:	100vh;	
}

header {
	height: 7vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
}

header img {
	height: 3vh;
	margin: 5px;
}

header .buttons img {
	border-radius: 5px;
	display: inline-block;
	margin-right: 15px;
}

header img:hover {
	cursor: pointer;
}

.menu {
	user-select: none;
	cursor:default;
	font-size: larger;
	font-weight: bolder;
	margin-left: 50px;
}

.buttons {
	margin-right: 50px;
}

.portfolio {
	padding-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-left {
	height: 80vh;
	width: 50%;
	border-right: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-left: 10%;
}

.portfolio-left img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

.portfolio-left h1 {
	font-size: 70px;
	width: 100%;
	padding-top: 4vh;
	margin-bottom: 0;
}

.portfolio-right {
	height: 80vh;
	width: 50%;
	border-left: 1px solid white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-right: 100px;
}

.portfolio-right section {
	padding-left: 5rem;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.portfolio-right h1 {
	margin: 0.5rem 0;
}

footer {
	height: 10vh;
	width: 100%;
	background: #181825;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}

@media (max-width: 1300px), (max-height: 870px) {
	main {
		height: fit-content;
	}

	.portfolio {
		display: block;
		justify-content: center;
		margin: 0 auto;
	}

	.portfolio-left {
		margin: 0 auto;
	}

	.portfolio-right {
		height: auto;
		width: 100%;
	}

	footer {
		margin-top: 20px;
	}
}

@media (max-width: 950px) {
	.portfolio-right {
		height: auto;
		margin-left: -15px;
	}
}

@media (max-width: 500px) {

	header a {
		font-size: 17px;
	}

	header .menu {
		margin-left: 10px;
		float: left;
	}

	header .buttons {
		margin-right: -5px;
		float: right;
		margin-left: auto;
	}

	.portfolio-left h1 {
		font-size: 50px;
	}
	
	.portfolio-left img {
		width: 200px;
		height: 200px;
	}

	.portfolio-right {
		height: auto;
		margin-left: -25px;
	}
}